<%- include('../partials/header')%>

<span class="heading fs-5 p-2 ms-4 alert alert-secondary">CREATE RESUME</span>
<div class="list-img mt-5 container">
  <div class="container">
    <img
      id="eduImg"
      style="height: 100px"
      src="/images/frantedimg/education-img.png"
      alt=""
    />
    <a class="text-decoration-none fs-5 list-btn1" href="/education"
      >Eduaction</a
    >
  </div>

  <div class="container mt-3 mb-3">
    <img style="width: 100px" src="./images/frantedimg/skill-img.png" alt="" />
    <a class="text-decoration-none fs-5 list-btn2" href="/Skill">Skill</a>
  </div>

  <div class="container">
    <img style="width: 85px" src="./images/frantedimg/project-img.png" alt="" />
    <a class="text-decoration-none fs-5 list-btn3" href="/Project">Project</a>
  </div>

  <div class="container">
    <img
      style="height: 90px"
      src="./images/frantedimg/experience-img.png"
      alt=""
    />
    <a class="text-decoration-none fs-5 list-btn4" href="/Experience"
      >Experience</a
    >
  </div>

  <div class="container">
    <img
      style="height: 90px"
      src="./images/frantedimg/interest-img.png"
      alt=""
    />
    <a class="text-decoration-none fs-5 list-btn5" href="/Interest">Interest</a>
  </div>
</div>

<%- include('../partials/footer')%>
