<%- include('../partials/header')%>
    <section>
        <div class="form-container mt-5">
            <div class="forget-img">
                <img style="height: 25rem;" src="/images/frantedimg/forget-img.png" alt="">
            </div>

            <div class="form-box p-5">
                <h1 class="mb-5">Forget Password</h1>
                <form action="/send-mail" method="post" class="login-box">
                    <input class="form-control  pe-5 fs-5 " type="text" placeholder="Send Mail" name="email"><br>
                    <button class="form-btn btn btn-primary m-2">Send</button>
                </form>

            </div>
        </div>
    </section>
    </div>

    <%- include('../partials/footer')%>