<%- include('../partials/header')%>
  <div class="main-container">
    <div class="img-box">
      <img  src="/images/frantedimg/3d-img.png" alt="">
    </div>


    <div class="content">
      <h1>This is Homepage of Resume Maker</h1>
      <a href="/signin"> <button>Sign in build resume</button></a>
    </div>
  </div>

  <%- include('../partials/footer')%>