<%- include('../partials/header')%>
    <section>
            <div class="form-container mt-4">
                <div class="signin-img">
                    <img src="/images/frantedimg/signin-img.png" alt="">
                </div>
                <div class="form-box mt-5 p-4">

                    <form action="/signinuser" method="post" class="signin-box">
                        <h1 class="mb-5">Signin</h1>
                        <input class="form-control  pe-5 fs-5 " type="text" placeholder="username" name="username"><br>
                        <input class="form-control  pe-5 fs-5" type="password" placeholder="password"
                            name="password"><br>
                        <a href="/forgetpassword">Forget Password?</a> <br>
                        <button class="form-btn btn btn-primary m-2">Create Account</button>
                    </form>
                    <p class="text-dark">Doesn't have an account?</p>
                    <a href="/signup">Sign up</a>
                </div>
            </div>
    </section>
    </div>

    <%- include('../partials/footer')%>